:root {
    --confirmed-color: #758bd1;
    --deaths-color: #d18975;
}

html, body {
    height: 100%;
    margin: 0;
}

@media (max-width: 767.98px) {
    .layout-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 100vh;
        padding-top: 136px;
    }
}

@media (min-width: 768px) {
    .layout-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        min-height: 100vh;
        padding-top: 56px;
    }
}

    .layout-wrapper .layout-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-items: stretch;
    }

    .layout-wrapper .layout-footer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: right;
        flex: 0 1 auto;
        font-size: 0.7em;
    }

.documentation-sidebar {
    font-weight: 500;
}

    .documentation-sidebar .nav-link {
        color: rgba(0,0,0,.5);
    }

        .documentation-sidebar .nav-link:hover {
            color: rgba(0,0,0,.75);
        }

        .documentation-sidebar .nav-link.active {
            color: #007bff;
        }

            .documentation-sidebar .nav-link.active:hover {
                color: #0056b3;
            }


.cursor-pointer {
    cursor: pointer;
}

.chart-iris {
    /*
    width: 600px;
    height: 320px;
    */
}

.func {
    background-color: #f8f8f8;
    color: #2a77bf;
}

.fa-blank::after {
    width: 1em;
    content: '\A0';
}

.nav-u {
    border-bottom: 2px solid rgba(0, 0, 0, .125);
}

.nav-u .nav-item {
    margin-bottom: -2px;
}

    .nav-u .nav-item .nav-link {
        border: 0px;
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        color: var(--secondary);
    }

        .nav-u .nav-item .nav-link.active {
            border-bottom: 2px solid var(--blue);
            color: inherit;
        }

.covid .text-muted {
    color: #95aac9 !important;
}

.covid:not(:last-child) {
    margin-right: 1em !important;
}

.covid19-menu a {
    color: #6e84a3 !important;
}

    .covid19-menu a:hover {
        color: var(--dark) !important;
    }

    .covid19-menu a.active {
        color: var(--dark) !important;
    }

.covid19-table thead {
    background-color: #f9fbfd !important;
    color: #95aac9 !important;
}
